@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata-Regular.ttf);
  font-weight: regular;
} 

@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata-Bold.ttf);
  font-weight: bold;
} 

body {
    font-family: "Inconsolata", mono-space;
}
td,th {
    padding: 0 10px 0; vertical-align: top;
}
th {
    position: sticky; top: 0; background-color: #eeeeee;
    border-bottom: 1px solid black;
    padding: 5px;
}
th.v { writing-mode: sideways-rl; vertical-align: bottom;}
th.l { text-align: left; }
th.r { text-align: right; }
th.c { text-align: center; }
td.l { text-align: left; }
td.r { text-align: right; }
td.c { text-align: center; }
td.s, th.s { font-size: .8em; }
tr.stripe:nth-child(2n+1) { background-color: #ddffdd; }
img.diskimage {
	image-rendering: pixelated;
	min-width: 400px;
}
